.right-now {
    margin: 0 0 2px 0;
}

.current-temperature {
    margin: 10px 0 0 0;
    /*text-align: center;*/
    font-size: 60px;
    font-weight: bold;
}

.conditions {
    margin: 70px 0 0 0;
}

.conditions p {
    font-size: 20px;
}

/** COMPASS */
.compass {
    width: 210px;
    height: 210px;
    background-color: #F3F3F3;
    border-radius: 100%;
    background-image: -webkit-linear-gradient(top, #F7F7F7, #ECECEC);
    position: relative;
    margin: 0 auto;
}

.compass-inner {
    width: 180px;
    height: 180px;
    background-color: #3D3D3D;
    border-radius: 100%;
    position: relative;
    left: 15px;
    top: 15px;
    border: 2px solid #C5C5C5;
}

.main-arrow {
    height: 100%;
    width: 15px;
    left: 78px;
    padding-top: 3px;
    box-sizing:border-box;
    position: relative;
}

.arrow-up {
    margin:0;
    width: 0;
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-bottom: 82.5px solid #EF5052;
    position: relative;
}

.arrow-down {
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    width: 0;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-bottom: 82.5px solid #e6e6e6;
    position: relative;
}

.north {
    font-size: 28px;
    color: #FFF;
    position: absolute;
    left: 76px;
    top: 0;
}

.east {
    font-size: 22px;
    color: #999;
    position: absolute;
    left: 150px;
    top: 70px;
}

.west {
    font-size: 22px;
    color: #999;
    position: absolute;
    left: 12px;
    top: 70px;
}

.south {
    font-size: 22px;
    color: #999;
    position: absolute;
    left: 78px;
    top: 140px;
}