body {
    background: url('/assets/img/brushed.png') fixed repeat;
}





hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top:1px solid #ddd;
}


.navbar {
    margin-bottom: 0;
}




.alert a {
    font-size: 16px;
    color: #fff;
}






.right-now {
    margin: 0 0 2px 0;
    font-size: 18px;
}

.powered-by, .powered-by a {
    margin: 20px 0 4px 0;
    font-size: 12px;
    color: #999;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.current-temperature {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.conditions {
    position: relative;
    height: 145px;
}

.climacon {
    font-size: 90px;
    text-align: center;
    color: #666;
}

.show-forecastio, .show-forecastio:hover, .show-forecastio:focus {
    margin: 15px 0 0 0;
    background: #ccc;
    border: 0;
    color: #666;
}

.show-forecastio i {
    font-size: 16px;
}

.forecastio-forecast-container {
    background: #ccc;
    float: left;
    padding: 20px 0 50px 0;
}


.forecastio {
    width: 20%;
    float: left;
    padding: 20px 10px 0;
}


.forecast-summary {
    text-align: center;
    color: #666;
}

.forecast-summary p {
    color: #666;
    margin: 0 0 4px 0;
}

.ec-forecast-image {
    margin: 10px 0 30px 0;
}
.ec-forecast-image img {
    display: block;
    margin: 0 auto;
}
.ec-temperature {
    font-size: 18px;
}

/** COMPASS */
.compass {
    width: 210px;
    height: 210px;
    background-color: #F3F3F3;
    border-radius: 100%;
    background-image: -webkit-linear-gradient(top, #F7F7F7, #CCCCCC);
    position: relative;
    margin: 0 0 0 40px;
}

.compass-inner {
    width: 180px;
    height: 180px;
    background-color: #333;
    border-radius: 100%;
    position: relative;
    left: 15px;
    top: 15px;
}

.main-arrow {
    height: 100%;
    width: 15px;
    left: 78px;
    padding-top: 3px;
    box-sizing:border-box;
    position: relative;
    transition: all .7s cubic-bezier(.86, .75, .53, 1.58);
}

.arrow-up {
    margin:0;
    width: 0;
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-bottom: 82.5px solid #EF5052;
    position: relative;
}

.arrow-down {
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    width: 0;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-bottom: 82.5px solid #e6e6e6;
    position: relative;
}

.north {
    font-size: 28px;
    color: #FFF;
    position: absolute;
    left: 76px;
    top: 0;
}

.east {
    font-size: 22px;
    color: #999;
    position: absolute;
    left: 150px;
    top: 70px;
}

.west {
    font-size: 22px;
    color: #999;
    position: absolute;
    left: 12px;
    top: 70px;
}

.south {
    font-size: 22px;
    color: #999;
    position: absolute;
    left: 78px;
    top: 140px;
}















footer {
    margin: 200px 0 0 0;
    padding: 20px 0 0 0;
}

.site,
.site a {
    color: #999;
    font-size: 12px;
}