body {
    background: #f5f8fa;
}

.wrapper-loader {
    position: absolute;
    left: 40%;
    top: 30%;
    width: 220px;
}

.text-muted {
    color: #666;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top:1px solid #aaa;
}

.navbar {
    margin-bottom: 0;
}

.padding-15 {
    padding: 15px;
}

.alert a {
    font-size: 16px;
    color: #fff;
}

/* Global elements */
.thumbnail {
    background-color: #333;
    border:1px solid #333;
    padding: 0;
}
.loader i {
    font-size: 30px;
}

.right-now {
    margin: 0 0 2px 0;
    font-size: 18px;
}

.powered-by, .powered-by a {
    margin: 20px 0 4px 0;
    font-size: 12px;
    color: #999;
}
.powered-by a {
    color: #839da9;
}
.powered-by a:hover {
    text-decoration: none;
    color:#444;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.current-temperature {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.conditions {
    position: relative;
    height: 145px;
}

.climacon {
    font-size: 90px;
    text-align: center;
    color: #666;
}

.show-forecastio,
.show-forecastio:hover,
.show-forecastio:focus {
    margin: 15px 0 0 0;
    background: #fff;
    border: 0;
    color: #666;
}

.show-forecastio i {
    font-size: 16px;
}

.forecastio-forecast-container {
    background: #fff;
    box-shadow: 0 0 80px #aaa;
    float: left;
    padding: 20px 0 50px 0;
    display:block;
    width: 100%;
}

.forecastio {
    width: 20%;
    display:block;
    float: left;
    padding: 20px 10px 0;
    background: #fff;
}

.forecast-summary {
    text-align: center;
    color: #666;
}

.forecast-summary p {
    color: #666;
    margin: 0 0 4px 0;
}

.ec-forecast-image {
    margin: 10px 0 30px 0;
}
.ec-forecast-image img {
    display: block;
    margin: 0 auto;
}
.ec-temperature {
    font-size: 18px;
}

hr.divider {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #f6f6f6, #aaa, #f6f6f6);
}

/** COMPASS */
.compass-inner {
    width: 140px;
    height: 140px;
    background: radial-gradient(circle at 100px 100px, #008cba, #222);
    border-radius: 100%;
    position: relative;
    top: 50%;
    left: 50%;
}

.main-arrow {
    height: 100%;
    width: 10px;
    left: 63px;
    top: 0;
    padding-top: 0;
    box-sizing: border-box;
    position: relative;
    transition: all .7s cubic-bezier(.86, .75, .53, 1.58);
}

.arrow-up {
    margin:0;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 70px solid #EF5052;
    position: relative;
}

.arrow-down {
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    width: 0;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 70px solid #e6e6e6;
    position: relative;
}

.north {
    font-size: 20px;
    color: #333;
    position: absolute;
    left: 63px;
    top: -30px;
}

.east {
    font-size: 16px;
    color: #999;
    position: absolute;
    left: 145px;
    top: 60px;
}

.west {
    font-size: 16px;
    color: #999;
    position: absolute;
    left: -20px;
    top: 60px;
}

.south {
    font-size: 16px;
    color: #999;
    position: absolute;
    left: 65px;
    top: 140px;
}



/* WEBCAMS */
.webcams-padding-top {
    padding-top: 40px;
}




/* HISTORY */
body.history {
    background: #eee;
}






/* MAP */
.container-map {
    padding-left: 0!important;
    padding-right: 0!important;
}
body.map,
section.content,
.container-map,
.map-content {
    width: 100%;
    height: 100%;
    overflow:hidden;
}
.map-preloader {
    width: 100%;
    height: 100%;
    background: url('/assets/img/index-loader.gif') no-repeat center;
}
body.map footer {
    display: none;
}




/* TIMELAPSE */
.timelapse-calendar table {
    border: none;
    font-size: 20px;
}

.timelapse-calendar td {
    padding: 6px;
    text-align: center;
}

.timelapse-start-video {
    cursor: pointer;
}

.video-js {
    box-shadow: 0 0 14px #333;
    margin: 0 0 10px 0;
}




footer {
    margin: 200px 0 0 0;
    padding: 20px 0 0 0;
}

.site,
.site a {
    color: #999;
    font-size: 12px;
}


/* MEDIA QUERIES */

@media (min-width: 768px) {

}

@media (max-width: 992px) {

    .compass-container {
        height: 260px;
    }

}

@media (min-width: 992px) {
    .navbar-collapse {
        padding-left: 0!important;
    }
}



@media (min-width: 1200px) {
    .navbar-collapse {
        padding-left: 0!important;
    }

}